body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #dcdfe0;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3E4F5E;
    color: white;
    padding: 15px;
    border-radius: 15px;
    width: 28%;
}

fieldset {
    border: 3px solid #5D7987;
}

legend {
    border: 1px solid #5D7987;
    padding: 10px;
    text-align: center;
    background-color: #5D7987;
    border-radius: 8px;
}

.inputBox {
    position: relative;
}

.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: #5D7987;
}

.inputEmail {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

#submit {
    background-color: #5D7987;
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
}

#submit:hover {
    background-color: deepskyblue;
}